* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #22272f;
    width: 100%;
    padding: 30px 0;
}
.navigation {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.links:hover {
    color: #f9af13;
    cursor: pointer;
}
.contact-links {
    color: #22272f;
}
.description {
    font-family: Roboto;
    font-size: 18px;
    margin-top: 25px;
    width: 238px;
}
.price {
    font-size: 18px;
    font-weight: 700;
    margin: 11px 0;
}
.button {
    background-color: #DC092E;
    font-size: 18px;
    padding: 8px 77px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.34);
    outline: none;
    cursor: pointer;
}
/* Вот от сюда все посмотри как я делал */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    width: 1000px;
    margin: 0 auto;
}
.card {
    width: 240px;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 18px 11px 11px 11px;
    margin-top: 20px;
}
.hover-card {
    transition: .7s;
}
.hover-card:hover {
    cursor: pointer;
    transition: .7s ; /* время работы анимации , тоесть когда наводишь анимация будет работать в течении .7s это значение равно 1.7s цифру 1 можно не указывать а писать чисто .7s*/
    transform: scale(1.1); /*Увеличение при наведении, значение в скобках может быть разным в зависимости от того насколько ты хочешь увеличивать , поиграйся , меняй значения и посмотри что будет */
}
.hover-button:hover {
    background: rgba(220, 9, 46, 0.85);
}
.hover-button:active {
    background: #CE072A;
}

/* Второй вариант вместо active */
/* .hover-button:focus {
    background: #CE072A;
} */